/* Variables */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color-black: #141414;
  --color-white: #ffffff;
}


/* global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

/* scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff72;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #ffffff72;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff72;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff72;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #00000072;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #00000072;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #00000072;
}


/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: default;
}

h6 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: "playfair display", serif;
  font-style: italic;
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-family: "playfair display", serif;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "playfair display", serif;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h4 {
  font-family: 'dm sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

}

h5 {
  font-family: 'dm sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;

}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

i {
  font-family: 'Playfair Display', serif;
}

label {
  font-size: 'dm sans', sans-serif;
  font-weight: 500;
}

input[type="date"] {
  font-family: 'dm sans', sans-serif;
}

input,
option,
select {
  padding: 0.5rem 0.8rem;
  font-family: 'dm sans', sans-serif;

}

button,
.button,
input[type="submit"] {
  font-family: 'dm sans', sans-serif;
  width: fit-content;
  background-color: var(--color-black);
  color: white !important;
  padding: 0.8rem 1.5rem;
  border: none;
  margin-top: 1.5rem;
  float: right;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
  background-color: black;
}


/* */

.counter {
  margin: 0;
  border-radius: 50%;
  padding: 5px 10px;
}

.amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horaires {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
}




input[type=radio] * {
  display: none;
}

input[type=radio] {
  /* display:none;  */
  visibility: hidden;
  width: 0;
  margin: 0;
}

input[type=radio]+label {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: inline-block;
  /* margin: -2px; */
  padding: 8px 18px;
  background-color: #e7e7e7;
  border-color: #ddd;
  width: fit-content;
}

input[type=radio]:checked+label {
  background-image: none;
  color: var(--color-white);
  background-color: var(--color-black);
}



.navbar {
  z-index: 90000000;
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  width: 100%;
}

.scroll .navbar {
  color: white;
  background-color: transparent;
}

.difference {
  background-color: var(--color-white);
}

.whitenavbar {
  background-color: transparent !important;
  color: var(--color-white);
  mix-blend-mode: difference;
}

.navbar .logo img {
  height: 2.5rem;
}

.navbar .links {
  display: flex;
  gap: 3rem;
}

.navbar .home {
  padding: 0 0.3rem 0.3rem;
  font-weight: 100;
  font-size: 2rem;
}

.menu {
  position: relative;
  height: 14px;
  width: 20px;
  display: none;
  filter: contrast(0);
}

.menu-link {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hamburger-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.hamburger-bar {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}

.hamburger-bar-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-bar-3 {
  bottom: 0;
}

.menu.open .hamburger-bar-1 {
  transform: translateY(7px) translateY(-50%) rotate(45deg);
}

.menu.open .hamburger-bar-2 {
  opacity: 0;
}

.menu.open .hamburger-bar-3 {
  transform: translateY(-7px) translateY(50%) rotate(-45deg);
}

.menu-overlay {
  z-index: 89000;
  padding-right: 2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: end;
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-overlay .one li {
  line-height: 4rem;
  font-size: 2.7rem;
}

.menu-overlay .one .categorie span,
.categories-list .categorie span {
  font-weight: 500;
}

.categories-list {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}

.categories-list a:hover,
.popup h5:hover,
footer .nav a:hover,
#teaser .space-between h5:hover,
.dispositif-intro .wrapper a h4:hover,
.link:hover {
  cursor: pointer;
}

.whitenavbar .categories-list a:after,
.popup h5:after,
#teaser .space-between h5:after,
.dispositif-intro .wrapper a h4:after {
  background: var(--color-white) !important;
  /* mix-blend-mode: difference; */
}

.categories-list a:after,
.popup h5:after,
footer .nav a:after,
.one a:after,
#teaser .space-between h5:after,
.dispositif-intro .wrapper a h4:after,
.link:after {
  content: "";
  display: block;
  height: 1.5px;
  left: 0;
  background: var(--color-white);
  mix-blend-mode: difference;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.categories-list a:hover:after,
.popup h5:hover:after,
footer .nav a:hover:after,
.one a:hover:after,
#teaser .space-between h5:hover:after,
.dispositif-intro .wrapper a h4:hover:after,
.link:hover:after {
  width: 100%;
  opacity: 0.9;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.navbar li,
.menu-overlay li {
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-align: end;
}

.navbar .categories li:hover {
  opacity: 1;
}

.categorie {
  padding: 1rem;
}

header {
  padding-top: 6.5rem;
}

#teaser {
  width: 100vw;
  height: 100vh;
  z-index: 900000000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

#teaser video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

#teaser .space-between {
  position: absolute;
  color: var(--color-white);
  z-index: 9000000000000;
  bottom: 0;
  width: 100%;
  padding: 20px;
  align-items: flex-end;
}

#sound {
  width: 1.5rem;
  fill: var(--color-white);
}

#myVideo {
  position: relative;
  min-width: 100%;
  max-height: 100vh;
  z-index: -700000;
  overflow: hidden;
}

.indexheader {
  padding-top: 0 !important;
  color: var(--color-white);
  top: 0;
  margin: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.indexheader>video {
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.indexheader section {
  padding: 4rem;
  position: absolute;
  z-index: 1000000;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;

}

.indexheader h2 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.indexheader .button {
  padding: 1.5rem 2rem;
  border: 1px solid var(--color-white);
  transition: 0.2s ease;
  background: transparent;
}

.indexheader .button:hover {
  background-color: var(--color-white);
  color: var(--color-black) !important;
  transition: 0.2s ease;
}

.button * {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

main.wrapper {
  margin: 5rem auto;
  display: flex;
  gap: 4rem;
  width: 70%;
}

.wrapper aside {
  width: 30%;
}

.wrapper aside h4 {
  font-weight: 600;
  font-family: 'playfair display', serif;
  font-style: italic;
  margin-bottom: 0.5rem;
}

main.wrapper article {
  width: 70%;
}





/* dispositif intro */

.dispositif-intro {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5rem;
  margin-top: 5rem;
}

.dispositif-intro .wrapper {
  display: flex;
  gap: 5rem;
}

.dispositif-intro .wrapper img {
  height: 25rem;
}

.dispositif-intro .wrapper a h4 {
  display: inline-block;
  font-family: 'Playfair Display', serif;
}

/* slider */

.owl-container {
  position: relative;
  margin: 7rem auto;
  /* padding-top: 7rem; */
  /* min-height: 70vh; */
  max-width: 80vw;

  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--color-black);
}

.owl-theme .owl-nav {
  font-size: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  gap: 105%;
  z-index: -500;
  color: gray;
}

.owl-theme .owl-nav [class*=owl-]:hover span {
  background-color: transparent;
  color: black;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
  color: black;
}



.owl-prev span,
.owl-next span {
  font-size: 3rem;
  font-weight: 200;
  font-family: "Playfair Display", serif;
  color: gray;
}


.owl-item {
  padding: 0 15px;
}

/*cards*/

.item {
  position: relative;
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.item a:hover {
  cursor: pointer;
}

.item>img {
  position: absolute;
  z-index: -1;
  inset: 0;
  min-height: 100%;
  /* width: auto; */
  object-fit: cover;
  object-position: -7rem center;

  transition: transform 500ms ease-out;
}

a:hover>img,
.item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  text-align: end;
  z-index: 700000000000;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.popup img {
  max-width: 100%;
  max-height: 60vh;
  margin: 0 auto;
}

.popup h5 {
  position: absolute;
  top: 60px;
  right: 60px;
  color: var(--color-white);
}

section {
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.champ {
  width: 100%;
  margin-bottom: 1rem;
}

.champ * {
  margin-bottom: 1rem;
  width: 100%;
}

.flex {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center video {
  width: 90%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main.flex {
  gap: 5rem;
}

.billetterie-expo h2 {
  margin: 1.5rem 0 2rem;
}

.billetterie-expo div {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  width: 70%;
  margin-bottom: 5rem;
}

.billetterie-expo div img {
  height: 17rem;
}

.breadcrumb {
  display: inline-block;
  margin-bottom: 2rem;
}

.breadcrumb a {
  font-weight: 700;
}

.active-breadcrumb {
  color: black !important;
  font-weight: 700;
  cursor: pointer;
}

.tab-pane {
  display: none;
}

.tab-pane:first-child {
  display: block;
}

#breadcrumbBillets,
#breadcrumbConfirmation {
  color: grey;
}

#step2,
#step3 {
  display: none;
}

#step3 h6 {
  margin-bottom: 1.5rem;
  padding: 1.1rem;
  border: solid 1px gray;
  color: gray;
}

span.error {
  font-size: 0.8rem;
  color: #ef233b;
  display: block;
}

.recap {
  padding: 2rem 3rem;
  border: 1px solid black;
  margin-bottom: 1.5rem;
}

.recap .titre {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}


.recap .titre img {
  width: 20%;
  height: 100%;
}

.recap h3 span {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.tarif h5 {
  font-weight: 500;
}

.tarif:not(:last-child) {
  margin-bottom: 2rem;

}

.tarif .prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}


/* dispositif interactif */

.dispositif {
  background-color: rgb(14, 14, 14) !important;
  color: white !important;
}

.dispositifInteractif {
  display: none;
}

/* page */

.qrwrapper {
  display: flex;
  width: 90%;
  margin: 3rem auto;
  gap: 7rem;
}

.qrwrapper h1 {
  margin-bottom: 2rem;
}

.tutorial {
  display: flex;
  gap: 1rem;
  align-items: end;
  flex-direction: column;
}

.tutorial video {
  width: 100%;
}

.qr {
  margin: 0 3rem;
}

.qr img {
  height: 20rem;
}

.tutorialwrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.tutorialwrapper a {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.tutorialwrapper a:hover {
  text-decoration: underline;
}

.mainSite .tutorial img {
  height: 20rem;
}


.mainSite .tutorialwrapper ul {
  counter-reset: section;
  list-style: none;
}

.mainSite .tutorialwrapper li {
  margin: 0 0 10px 0;
  line-height: 40px;
}

.mainSite .tutorialwrapper li:before {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 5rem;
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  padding-top: 10px;
  width: 90px;
  height: 90px;
  margin: 0 20px 0 0;
  border: 1px solid #ccc;
  border-radius: 100%;
  text-align: center;
}


/* mentions légales */


.banner {
  height: 13rem;
  width: 100%;
  background-image: url('../assets/tableaux/camille_versailles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 4rem;
}

.banner.cgv {
  background-image: url('../assets/tableaux/moret_printemps.jpg');
  background-position: bottom;


}

.mentions {
  width: 50%;
}

.mentions p,
.mentions h4 {
  margin-bottom: 2.3rem;
}

.mentions li {
  line-height: 2rem;
}

.mentions hr {
  margin: 3rem 0;
}



/* footer */

footer {
  padding: 3rem 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem !important;
  gap: 1rem;
}

.white {
  background-color: white;
}

footer li {
  margin-bottom: 1rem;

}

footer .flex {
  justify-content: space-between;
}

footer .categories-list {
  margin-top: 2rem;
}

footer li a {
  display: inline-block;

}

.socials img {
  height: 25px;
  margin-right: 5px;
}

.apple {
  height: 1rem;
}

.thanks {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.thanks .wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* responsive */

@media screen and (max-width:1024px) {
  .indexheader section {
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width:900px) {
  .menu-overlay {
    display: none;
  }
}

@media screen and (max-width:900px) {

  .mainSite {
    display: none !important;
  }

  .dispositifInteractif {
    display: block !important;
  }

  .navbar .home {
    display: none;
  }

  .menu {
    display: block;
  }

  .categories .categories-list {
    display: none;
    transition: all 0.2s ease;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper aside,
  main.wrapper article {
    width: 100%;
  }


  .dispositif-intro {
    padding: 2rem;
  }

  .dispositif-intro .wrapper {
    width: 100%;
  }


  .recap {
    padding: 2rem;
  }

  .recap h3 {
    font-size: 1.1rem;
  }


  .mentions {
    width: 80%;
  }



  .flex,
  footer .categories-list {
    flex-direction: column;
    gap: 1rem;
  }

  footer {
    flex-direction: column;
  }

  .logo img {
    width: 5rem;
  }

  .tarif {
    flex-direction: column;
    align-items: stretch;
  }

}