body {
    background-color: black !important;
    color: white !important;
}

.dispositifInteractif {
    display: none;
}

@media screen and (max-width:900px) {
    .mainSite {
        display: none !important;
    }

    .dispositifInteractif {
        display: block !important;
    }
}