/* ------------------------------------------------ */
/* Variables */
/* ------------------------------------------------ */
/* Fonts */
/* Colors */
/* ------------------------------------------------ */
/* Fonts */
/* ------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color-black: #141414;
  --color-white: #f5f5f5;
}


/* ------------------------------------------------ */
/* global */
/* ------------------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

/* scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff72;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #ffffff72;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff72;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff72;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #00000072;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #00000072;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #00000072;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-family: "playfair display", serif;
  font-style: italic;
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-family: "playfair display", serif;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "playfair display", serif;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h4 {
  font-family: 'dm sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

}

h5 {
  font-family: 'dm sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;

}

i {
  font-family: 'Playfair Display', serif;
}

label {
  font-size: 'dm sans', sans-serif;
  font-weight: 500;
}

input[type="date"] {
  font-family: 'dm sans', sans-serif;
}

input,
option,
select {
  padding: 0.5rem 0.8rem;
  font-family: 'dm sans', sans-serif;

}

button,
input[type="submit"] {
  font-family: 'dm sans', sans-serif;
  width: fit-content;
  background-color: var(--color-black);
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  margin-top: 1.5rem;
  float: right;
}

button:hover,
input[type="submit"]:hover {
  background-color: black;
}

.counter {
  margin: 0;
  border-radius: 50%;
  padding: 5px 10px;
}

.amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horaires {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
}


/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] * {
  display: none;
}

input[type=radio] {
  /* display:none;  */
  visibility: hidden;
  width: 0;
  margin: 0;
}

/*
Change the look'n'feel of labels (which are adjacent to radiobuttons).
Add some margin, padding to label
*/
input[type=radio]+label {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: inline-block;
  /* margin: -2px; */
  padding: 8px 18px;
  background-color: #e7e7e7;
  border-color: #ddd;
  width: fit-content;
}

/*
Change background color for label next to checked radio button
to make it look like highlighted button
*/
input[type=radio]:checked+label {
  background-image: none;
  color: var(--color-white);
  background-color: var(--color-black);
}

/* ------------------------------------------------ */
/* header */
/* ------------------------------------------------ */

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

.navbar {
  z-index: 90000000;
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  width: 100%;
}

.whitenavbar {
  background-color: transparent !important;
  color: white;
  mix-blend-mode: difference;
}

.navbar .logo img {
  height: 2.5rem;
}

.navbar .links {
  display: flex;
  gap: 3rem;
}





/*pportfolio nav*/
/* .navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 2rem;
} */

.navbar .home {
  padding: 0 0.3rem 0.3rem;
  font-weight: 100;
  font-size: 2rem;
}

.menu {
  position: relative;
  height: 14px;
  width: 20px;
  display: none;
  filter: contrast(0);
}

.menu-link {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hamburger-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.hamburger-bar {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}

.hamburger-bar-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-bar-3 {
  bottom: 0;
}

.menu.open .hamburger-bar-1 {
  transform: translateY(7px) translateY(-50%) rotate(45deg);
}

.menu.open .hamburger-bar-2 {
  opacity: 0;
}

.menu.open .hamburger-bar-3 {
  transform: translateY(-7px) translateY(50%) rotate(-45deg);
}

.menu-overlay {
  z-index: 89000;
  padding-right: 2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: end;
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-overlay .one li {
  line-height: 4rem;
  font-size: 2.7rem;
}

.menu-overlay .one .categorie span,
.categories-list .categorie span {
  font-weight: 500;
}

.categories-list {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}

/* .categories-list a:hover {
  text-decoration:underline
} */

.whitenavbar .categories-list a:after {
  background:var(--color-white);
}


.categories-list a:after {
  content: "";
  display: block;
  height: 1.5px;
  left: 0;
  background: var(--color-black);
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.categories-list a:hover:after {
  width: 100%;
  opacity: 0.9;
}


/* .menu-overlay .one .categorie sup {
  font-size: 1.5rem;
  font-style: oblique;
  font-weight: 700;
}

.categories-list .categorie sup {
  font-size: 0.8rem;
  font-style: oblique;
  font-weight: 700;
} */

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.navbar li,
.menu-overlay li {
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-align: end;
  /* text-transform: uppercase; */
}

.navbar .categories li:hover {
  opacity: 1;
}

.categorie {
  padding: 1rem;
}



header {
  padding-top: 6.5rem;

}

.indexheader {
  color: white;
  top: 0;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.indexheader h2 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.indexheader .button {
  padding: 1.5rem 2rem;
  border: 1px solid white;
}

.button * {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

main.wrapper {
  padding-top: 3rem;
  display: flex;
  gap: 4rem;
  width: 70%;
}

.wrapper aside {
  width: 30%;
}

.wrapper aside h4 {
  font-weight: 600;
  font-family: 'playfair display', serif;
  font-style: italic;
  margin-bottom: 0.5rem;
}

main.wrapper article {
  width: 70%;
}



/* slider */
/* reviews slider */

.owl-container {
  position: relative;
  margin: 0 auto;
  /* padding-top: 7rem; */
  min-height: 70vh;
  max-width: 80vw;

  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--color-black);
}

.owl-theme .owl-nav {
  font-size: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  gap: 105%;
  z-index: -500;
  color:gray;
}

.owl-theme .owl-nav [class*=owl-]:hover span {
  background-color: transparent;
  color: black;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
  color: black;
}



.owl-prev span,
.owl-next span {
  font-size: 3rem;
  font-weight: 200;
  font-family: "Playfair Display", serif;
  color:gray;
}


.owl-item {
  padding: 0 15px;
}

/*cards*/

.item {
  position: relative;
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  transition: all 0.3s ease-out;
}

.item a:hover {
  cursor: pointer;
}

.item>img {
  position: absolute;
  z-index: -1;
  inset: 0;
  min-height: 100%;
  /* width: auto; */
  object-fit: cover;
  object-position: -7rem center;

  transition: transform 500ms ease-out;
}

a:hover>img,
.item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

.popup {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  text-align: end;
  z-index: 700000000000;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.popup img {
  height: 60vh;
  margin: 0 auto;
}

.popup h5 {
  position: absolute;
  top: 60px;
  right: 60px;
  color: var(--color-white);
}

.popup h5:hover {
  text-decoration: underline;
}

section {
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.champ {
  width: 100%;
  margin-bottom: 1rem;
}

.champ * {
  margin-bottom: 1rem;
  width: 100%;
}

.flex {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

main.flex {
  gap: 5rem;
}

.billetterie-expo h2 {
  margin-bottom: 2rem;
}

.billetterie-expo div {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  width: 70%;
  margin-bottom: 5rem;
}

.billetterie-expo div img {
  height: 17rem;
}

.breadcrumb {
  display: inline-block;
  margin-bottom: 2rem;
}

.breadcrumb a {
  font-weight: 700;
}

.active-breadcrumb {
  color: black !important;
  font-weight: 700;
  cursor: pointer;
}

.tab-pane {
  display: none;
}

.tab-pane:first-child {
  display: block;
}

#breadcrumbBillets,
#breadcrumbConfirmation {
  color: grey;
}

#step2,
#step3 {
  display: none;
}

#step3 p {
  margin-bottom: 1.5rem;
}

span.error {
  font-size: 0.8rem;
  color: #ef233b;
  display: block;
}

.recap {
  padding: 2rem 3rem;
  border: 1px solid black;
  margin-bottom: 1.5rem;
}

.tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.tarif h5 {
  font-weight: 500;
}

.tarif:not(:last-child) {
  margin-bottom: 2rem;

}

.tarif .prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

footer {
  padding: 3rem 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem !important;
  gap: 1rem;
}

footer li {
  margin-bottom: 1rem
}

footer .flex {
  justify-content: space-between;
}

footer .categories-list {
  margin-top: 2rem;
}

@media screen and (max-width:1024px) {
  .indexheader {
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width:900px) {
  .menu-overlay {
    display: none;
  }
}

@media screen and (max-width:900px) {

  .navbar .home {
    display: none;
  }

  .menu {
    display: block;
  }

  .categories .categories-list {
    display: none;
    transition: all 0.2s ease;
  }


  .flex,
  footer .categories-list {
    flex-direction: column;
    gap: 2rem;
  }

  footer {
    flex-direction: column;
  }

  .logo img {
    width: 5rem;
  }
}